{% extends "layout.html" %}

{% block content %}
<div class="mx-4">
    <br>
    <h2>Add me on social media!</h2>
    <div class="line"></div>
    <div class="table-responsive-xl">
        <table class="table table-borderless table-hover">
            <thead class="text-center">
                <tr>
                    <td class="table-header">
                        <a href="https://github.com/endamccarthy">
                            <i class="fab fa-github-square fa-5x"></i><h5>Github</h5>
                        </a>
                    </td>
                    <td class="table-header">
                        <a href="https://www.linkedin.com/in/endamccarthy/">
                            <i class="fab fa-linkedin fa-5x"></i><h5>LinkedIn</h5>
                        </a>
                    </td>
                    <td class="table-header">
                        <a href="mailto:enda.mccarthy@outlook.com">
                            <i class="fas fa-envelope-square fa-5x"></i><h5>Email</h5>
                        </a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
    <div class="line"></div>
</div>
{% endblock content %}