{% extends "layout.html" %}

{% block content %}
<div style="text-align: center">
    <h1></h1>
</div>
<form method="POST" action="" class="content-section form-inline">
    {{ form.hidden_tag() }}
    <div class="form-group mx-sm-3">
        {% if form.username.errors %}
            {{ form.username(class="form-control form-control is-invalid mr-3")}}
            {{ form.submit(class="btn btn-outline-secondary") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.username(class="form-control form-control mr-3", placeholder=form.username.label.text) }}
            {{ form.submit(class="btn btn-outline-secondary") }}
        {% endif %}
    </div>
</form>
{% endblock content %}
