{% extends "layout.html" %}

{% block content %}
<form method="POST" action="" class="content-section form-inline" id="username-form">
    {{ form.hidden_tag() }}
    <div class="form-group mx-sm-3">
        {% if form.username.errors %}
            {{ form.username(class="form-control form-control is-invalid mr-3", id="username") }}
            {{ form.submit(class="btn btn-outline-secondary") }}
            <div class="invalid-feedback">
                {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.username(class="form-control form-control mr-3", placeholder=form.username.label.text, id="username") }}
            {{ form.submit(class="btn btn-outline-secondary", id="submit") }}
        {% endif %}
    </div>
</form>
<div class="mt-5" style="text-align:left;">
    <h5 id="username-text"></h5>
    {% if total_channels %}
        <p id="total-channels">Number of Channels: {{ total_channels }}</p>
    {% endif %}
</div>
{% endblock content %}
