/* ---------------------------------------------------
    TYPE IN THIS COMMAND TO SETUP:
        sass static/style.scss static/style.css
----------------------------------------------------- */

/* ---------------------------------------------------
    SASS VARIABLES
----------------------------------------------------- */

$color01: rgb(250, 109, 109);   /* Navbar */
$color02: #fdefef;              /* Background Light Pink */
$color03: #a73636;              /* Hover Text */
$color04: #d1c6c6;              /* Hover Background */
$color05: #afaaaa;              /* Selected Background */

@import "https://fonts.googleapis.com/css?family=Raleway&display=swap";

/* Inheritance */
%font-family01 {
    font-family: 'Raleway', sans-serif;
  }

/* ---------------------------------------------------
    GENERAL STYLE
----------------------------------------------------- */

body {
    @extend %font-family01;
    background: #fafafa;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

li:hover {
    color: $color03;
    background: $color04;
}

.navbar {
    min-height: 50px;
    padding: 0px 100px;
    background: $color01;
    border: none;
    border-radius: 0;
    margin-bottom: 20px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 20px 0;
}

.footer {
    position: relative;
    width: 100%;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
    font-size: 0.8em;
  }

h1 {
    display: inline;
}

.selected {
    color: $color03;
    background: $color05;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.content-section {
    background: $color02;
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    SCROLLING
----------------------------------------------------- */

#message-list {
    height: 65vh;
    overflow: auto;
}

#channel-list {
    height: 65vh;
    overflow: auto;
}

/* ---------------------------------------------------
    HIDDEN CONTENT
----------------------------------------------------- */

.temp {
    display: inline;
}

#delete-channel {
    float: right;
    margin-top: 10px;
}